//
// Card
//

.card {
  background-color: $card-bg;
  border-radius: $card-border-radius;
  box-shadow: 0px 10px 20px -10px $grayish-blue;
  flex: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $card-margin-bottom;
  position: relative;
  max-width: $card-max-width;
}

.card_cyan {
  border-top: 4px solid $cyan;
}

.card_red {
  border-top: 4px solid $red;
}

.card_orange {
  border-top: 4px solid $orange;
}

.card_blue {
  border-top: 4px solid $blue;
}

.card__body {
  color: $card-color;
  padding: $card-spacer-y $card-spacer-x;
}

.card__title {
  color: $card-title-color;

  @media screen and (min-width: 1200px) {
    margin-bottom: 1rem;
  }
}

.card__text {
  font-size: $card-text-font-size;
  margin-bottom: $card-text-margin-bottom;
}

.card__image {
  display: block;
  margin-left: auto;
}
